@import '6-utilities/initial-variables';

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

$green-bis : #3bd999;
$green-dark: #12c0c0;
$gradient-green : linear-gradient(to right, $green-bis, $green-dark);
$yellow-bis : #f8d53b;
$yellow-dark: darken($yellow-bis, 10%);
$blue-bis : #3e43cd;
$blue-dark: #36379e;
$blue-light: #5e79bb;

.search-recomendation {
    width: 100%;
    padding: 5px;
    background: #f1f1f1;
    border-radius: 2px;
    margin-bottom: 5px;

    input.sc {
      width: calc(95% - 0px);
      margin-right: 5px;
      padding: 5px 10px;
      border: 0;
      background-color: #f1f1f1;
      border-radius: 2px;
      @include placeholder {
        color: #3C454C;
      }
    }
}

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
    width: calc(50% - 10px);
    margin: 0 5px 5px;
    min-height: 55px;
    display: flex;
    align-items: center;

    label {
      padding: 12px 5px;
      height: 55px;
      padding-left: 45px;
      width: 100%;
      font-size: 13px;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 100%;
        border-radius: 50%;
        content: '';
        background-color: nth($primary,1);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }


// codepen formatting
.form {
  // padding: 0 16px;
  // max-width: 550px;
  // margin: 50px auto;
  // font-size: 18px;
  // font-weight: 600;
  // line-height: 36px;
}

