@import '6-utilities/initial-variables';

.intro-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.intro {
		width: calc(100% - 15px * 2);
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		font-family: $open-sans;

		&-title {
			text-transform: uppercase;
			font-size: 28px;
			font-weight: 700;
			color: darken(#d5d5d5, 10%);
		}

		&-caption {
			margin-top: 15px;
			word-wrap: word-break;
			color: darken(#d5d5d5, 20%);
		}
	}
}