@import '6-utilities/initial-variables';

.dpt-view {
  border:none;
  width: 100%;
  margin-bottom: 15px;

  tr {
    border-bottom: 1px solid #ddd;
  }

  td , th {
    border: none;
    padding-left: 14px;
    padding: 5px 14px;
  }
}

text {
  font-family: $open-sans;
  font-weight: 400!important;
}

.highcharts-color-0 {
  fill: #55efc4;
  
  .highcharts-point {
     fill: #55efc4;
  }
}
.highcharts-color-1 {
  fill: #74b9ff;

  .highcharts-point {
     fill: #74b9ff;
  }
}
.highcharts-color-2 {
  fill: #a29bfe;

  .highcharts-point {
     fill: #a29bfe;
  }
}
.highcharts-title {
  font-family: $open-sans;
}

.container-title {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.summary {
  width: 95%;
  margin: 15px; }
  .summary-title {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px; }
    .summary-title span {
      font-size: 14px;
      margin-left: auto;
      align-self: flex-end; }
  .summary-bars {
    position: relative;
    width: 100%; }
    .summary-bars span {
      display: block;
      width: 100%;
      height: 8px;
      border-radius: 25px;
      background-color: #ddd;
      position: relative; }
    .summary-bars .bar-top {
      z-index: 1;
      width: 33.33%;
      position: absolute; }
    .summary-bars .bar-bottom {
      z-index: 0;
      width: 100%; }